<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/service" method="post">
        <div>
            <label for="serName">Service Name : </label>
            <input type="text" name="serName" id="serName"/>
        </div>
        <div>
            <label for="serCost">Service Cost : </label>
            <input type="text" name="serCost" id="serCost"/>
        </div>
        <div>
            <label for="serDuration">Service Duration : </label>
            <input type="text" name="serDuration" id="serDuration"/>
        </div>
        <div>
            <button type="submit">Submit</button>
        </div>
    </form>
</body>
</html>